* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 1600px;
    padding: 1em;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.25em;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.logo-img {
    width: 25px;
}

.logo-text {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 108%;
    letter-spacing: -3%;
    color: #090909;
    text-decoration: none;
}

.nav-items {
    position: absolute;
    top: 50px;
    right: 0;
    background: white;
    padding: 1em;
    border-radius: 5px 0 0 5px;
    box-shadow: -4px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateY(-10%);
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.nav-items.expand {
    transform: translateY(0);
    opacity: 1;
}

.nav-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    text-transform: uppercase;
    color: #090909;
    position: relative;
    cursor: pointer;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #090909;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}

.nav-link:hover {
    color: #333;
}

.nav-link:hover::after {
    transform: scaleX(1);
}

.hamburger {
    display: block;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.featured {
    height: 300px;
    padding: 1.25em;
    background-image: url("../images/article1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.created-at {
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 1em;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;

}

.featured .created-at {
    color: #FFFFFF;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.title {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 100%;
    letter-spacing: -3%;
    margin-bottom: 0.3em;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    text-decoration: underline;
    cursor: pointer;
}

.title:hover {
    color: #757575;
}

.featured .title {
    color: #FFFFFF;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
    transition: color 0.3s ease, text-shadow 0.3s ease;
    text-decoration: underline;
    cursor: pointer;
}

.featured .title:hover {
    color: #FFD700;
    text-shadow: 5px 5px 12px rgba(0, 0, 0, 1);
}

.brief {
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 1em 0;
    color: #505050
}

.featured .brief {
    color: #FFFFFF;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.articles {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.article {
    padding: 1em;
    grid-column: span 12;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    margin: 1em;
}

.article-img {
    width: 100%;
    height: 235px;
    object-fit: cover;
    display: block;
    border-radius: 3px;
    margin-bottom: 1em;
}

.view-more,
.back-btn {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    border: 0;
    background-color: #FFFFFF;
    margin: 1em 0;
    color: #000000;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    grid-column: 6 / 8;
}

.view-more:hover,
.view-more:focus,
.back-btn:hover,
.back-btn:focus {
    color: #444444;
    text-decoration: none;
    outline: none;
}

.back-btn {
    align-self: self-start;
}

.article-display .created-at {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 0.5em;
}

.article-display .title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5em 0;
    color: #222;
    text-decoration: none;
    cursor: auto;
}

.article-display .brief {
    font-size: 1.2rem;
    color: #444;
    margin-bottom: 1em;
}

.article-display .article-img {
    width: 100%;
    height: 235px;
    object-fit: cover;
    margin: 1.5em 0;
}

.article-body,
.description {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    text-align: justify;
}

.sub-label {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 1.1em;
    margin-bottom: 0.25em;
}

.recent-articles {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}

.recent-articles .sub-label {
    grid-column: 1 / -1;
    text-align: center;
}

.about-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1em;
    margin: 1em 2em;
}

.my-pic {
    width: 200px;
    border-radius: 50%;
    grid-column: 1 / -1;
    grid-row: 1 / 3;
}

.bio {
    grid-column: 1 / -1;
    font-weight: 700;
    font-size: 2.1rem;
    line-height: 108%;
    letter-spacing: -3%;
    margin: 0;
}

.about-section .description {
    grid-column: 1 / -1;
    margin: 0;
}

.about-section .article-body {
    grid-column: 1 / -1;
}

.about-section .sub-label {
    grid-column: 1 / -1;
    margin: 0 0 0.5em 0;
}

.form-section {
    grid-column: 1 / -1;
    padding: 2em;
}

.contact-form {
    width: 100%;
}

input,
textarea {
    font-family: "Source Sans 3", sans-serif;
    display: block;
    border: none;
    border-bottom: 1px solid #202020;
    padding: 1.1em 0.5em 0.1em 0.5em;
    font-size: 1.2rem;
    width: 100%;
}

textarea {
    resize: none;
}

.contact-form button {
    margin-top: 1.5em;
    padding: 1em 2em;
    border: none;
    border-radius: 10px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-form button:hover,
.contact-form button:focus {
    background-color: #333333;
    transform: scale(1.05);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}

.toast {
    visibility: hidden;
    min-width: 250px;
    margin: 20px auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 30px;
    left: 0;
    right: 0;
    z-index: 100;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}

.toast.show {
    visibility: visible;
    opacity: 1;
}


footer {
    height: 100px;
    width: 100%;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 1em;
}

footer h3 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 108%;
    letter-spacing: -3%;
    text-align: center;
    color: #ECECEC;
    margin-bottom: 0.3em;
}

footer p {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 125%;
    letter-spacing: 0%;
    text-align: center;
    color: #D7D7D7;
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .nav-items {
        display: none;
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        box-shadow: none;
        padding: 0;
        transform: none;
        opacity: 1;
    }

    .logo-text {
        font-size: 1.25rem;
    }

    .nav-link {
        font-size: 1rem;

    }

    .nav-item {
        padding: 0.5em 1em;

    }

    .featured {
        height: 500px;
    }

    .article {
        grid-column: span 6;
        padding: 1em 1em;
    }

    .created-at {
        font-size: 1.25rem;
    }

    .title {
        font-size: 3rem;
    }

    .brief {
        font-size: 1.25rem;
    }

    .featured .created-at {
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    }

    .featured .title {
        font-size: 3.5rem;
        text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.9);
    }

    .featured .brief {
        font-size: 1.5rem;
        text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
    }

    .article-display {
        padding: 1em;
        margin: 1em;
    }

    .article-display .title {
        font-size: 1.8rem;
    }

    .article-display .brief,
    .article-body,
    .description,
    .sub-label {
        font-size: 1.5rem;
    }

    .article-display .article-img {
        height: 400px;
    }

    .my-pic {
        width: 300px;
        grid-column: 1 / 4;
    }

    .bio {
        grid-column: 4 / -1;
        align-self: flex-end;
    }

    .about-section .description {
        grid-column: 4 / -1;
    }

}

@media (min-width: 992px) {
    .article {
        grid-column: span 4;
        padding: 1em 1em;
    }

    footer h3 {
        font-size: 1.5rem;
    }

    footer p {
        font-size: 1rem;
    }

    .view-more,
    .back-btn {
        font-size: 1.5rem;
    }

    .my-pic {
        width: 400px;
        grid-column: 1 / 4;
    }

    .bio {
        align-self: flex-end;
    }

    input,
    textarea {
        border-bottom: 1.5px solid #202020;
        padding: 1.2em 0.6em 0.2em 0.6em;
        font-size: 1.5rem;
        width: 100%;
    }
}